<script type="text/javascript">
	$(function() { 

		var cckcontentArgs = {numPerPage:20 };
		findName("viewSearchForm").data("arg", cckcontentArgs);
		var svGuid = navTab._getParam("svGuid");  
		var readOnly =  navTab._getParam("readOnly");
		findName("viewSearchForm").data("svGuid", svGuid);
		
		var  isReadOnly=false;
		if(readOnly&&(readOnly.toLowerCase()=='readonly'||readOnly==true||readOnly=="true" ))
			{
			findName("viewSearchForm").data("isReadOnly",true);
			isReadOnly=true;
 
			}
		if (svGuid) {
			doGetAjax(CPATH.domain_1 + "/rs/system/view/previewdatagrid/" + svGuid, cckcontentArgs, function(data) {
						if (!data)
							return;
						data['primaryKey']=_sy_view_get_primary_key(data.fields);
						if (data.primaryKey) {
// 							findName("SCCGUID").attr("name", data.primaryKey);
							$("[name=SCCGUID]", findName("syViewContentPageContent")).attr("name", data.primaryKey);
							
						}
						if (data.searchs && data.searchs.length > 0) {
							syview_createSearcheFormForCckContent(data);
						} else {
// 							$("[layouth]", navTab.getCurrentPanel()).attr(
// 									"layouth", 54);

// 							findClass("pageHeader").hide();
							$("[layouthcck]", findName("syViewContentPageContent")).attr(
									"layouth", 76);
				$("[layouthcck]", findName("syViewContentPageContent")).attr(
						"layouthcck", 76);
 
				$(".pageHeader", findName("viewSearchForm")).hide();
						}
						
						
						var layouthcck=	findName("cckcontenttable").attr("layouthcck" );
						$("[layouthcck]",findName("syViewContentPageContent")).attr("layouth",layouthcck);
						syview_createTableColumnForCckContent(data, svGuid);
						var searchBar = $(".searchBar",findName("viewSearchForm"));
						searchBar.initUI();
 					$(".pageHeader", findName("viewSearchForm")).parent().resize();
					});
			var buttonUrl=CPATH.domain_1 + "/rs/syViewTypeButton/"+svGuid ;
// 			var buttonUrl=CPATH.domain_1 + "/rs/syCckTypeButton/"+svGuid ;
			doGetAjax( buttonUrl  ,
					cckcontentArgs, function(data) {
						if (!data)
							return;
 					if(!data.jsonData)
 						return;
 					var	  list = data.jsonData;
 				viewDataCreateButtons(list,"syViewContentPageContent",0,isReadOnly);
//  					syViewContentCreateButtons(list,"syViewContentPageContent",0,isReadOnly);
 					 
					});
		}
	});
	
	function syview_Search(opt) {
		//序列化表单值，并扩展到syCckTypeArgs对象中
		$.extend(findName("viewSearchForm").data("arg"), findName(
				'viewSearchForm').serializeJson(), opt ? opt : {});
		//执行ajax查询方法
		var svGuid = navTab._getParam("svGuid");
		var arg = findName("viewSearchForm").data("arg");
		logger.info(arg);
		doGetAjax(getURL(CPATH.domain_1, "/rs/system/view/previewdatagrid/" + svGuid),
				arg, syview_cckcontentList);
	}
	
	function syview_resetForm() {
		findName("viewSearchForm")[0].reset(); 
		findClass("selectToReset").filter("a").text("所有");

	}
	
	//创建 searchform 
	function syview_createSearcheFormForCckContent(data, svGuid) {
		var searchs = data.searchs;
		var searchBar = findClass("searchBar");
		var subBar = findClass("subBar");
		var count = 1;
		var searchhtml = "<ul class=\"searchContent\">";
		syview_changeSearchBarHeightForCckContent(searchs.length);
		for ( var i = 0; i < searchs.length; i++) {
			if (count == 4) {
				count = 1;
				searchhtml += "</ul><ul class=\"searchContent\">";

			}
			searchhtml += "<li  > ";
			searchhtml += syview_createSearchInputForCckContent(searchs[i]);
			searchhtml += " </li>";
			count++;

		}
		searchhtml += "</ul>";
		searchBar.append(searchhtml);
		subBar.appendTo(searchBar);

		searchBar.initUI();
	}
	
	//更改高度
	function syview_changeSearchBarHeightForCckContent(length) {
		var th = 113 + (Math.ceil(parseInt(length) / 3) * 25);
 
		findName("cckcontenttable").attr("layouthcck", th);
	 
	}
	
	//新建searchform 里的 input select 等；
	function syview_createSearchInputForCckContent(s) {
		var html = " <label>" + s.fieldLabel + "</label>";
		var input = '';
		if (s.fieldType == 4) {//code
			input = "<select name=\""
					+ s.fieldColumn.toUpperCase()
					+ "\" seq= \"desc\" class= \"combox selectToReset\" valueCode= \"valueCode\" codeType=\""
					+ s.fieldTypeReference + "\" valueDesc=\"valueDesc\">";
			input += "<option value=\"\">所有</option> </select>";
		} else 
			if (s.fieldType == 5) {//code
				var url =  "/rs/syWidgetReferenceData/"+s.fieldTypeReference ;
				if(s.fieldTypeReferenceType==1)//autocomplete
				{
					input ="<input type=\"text\" name=\""+ s.fieldColumn.toUpperCase()+"_SHOW"
						+"\" id=\""+s.fieldColumn.toUpperCase()+new Date().getTime()+"\" datavalue=\"ID\" "
						+"itemvalue=\"NAME\" autocompletetype=\""+s.fieldAutocompleteType
						+"\" domain=\"1\"  dataurl=\""+url+"\"  class=\"autocompleteForCCK\"  >";
						input +="<input type=\"hidden\" name=\""+s.fieldColumn.toUpperCase() +"\"  />";
				}else	if(s.fieldTypeReferenceType==2)//autocomplete
				{
					input ="<input type=\"text\" name=\""+ s.fieldColumn.toUpperCase()+""
						+"\" datavalue=\"ID\" "
						+"itemvalue=\"NAME\"  domain=\"1\"  dataurl=\""+url+"\"    >";
				}else{
					input = "<select name=\"" + s.fieldColumn.toUpperCase()
						+ "\" dataurl=\""+url+"\" domain=1  class= \"combox selectToReset\" valueCode= \"ID\"    valuePid=\"PID\" valueDesc=\"NAME\">";
						
				input += "<option value=\"\">所有</option> </select>";
				}
			
				
			} else if ((s.fieldType <=3 && s.fieldType >= 1) || s.fieldType > 5) {
			input = "<input type= \"text\" name = '"
					+ s.fieldColumn.toUpperCase() + "' class= '"
					+ (3 == s.fieldType ? 'date' : '') + "' />";
		}
		html += input;
		return html;
	}
	//创建表头
	function syview_createTableColumnForCckContent(data, svGuid) {
		var table = findClass("cckcontenttable");
		var trTop = findName("cckcontenttr");
		var trTemplate = findName("cckcontentTrTemplate");
		var fields = data.fields;
		if (!fields) {
			fields = [];
		}
		var ths = '';
		var tts = '';
		for ( var i = 0; i < fields.length; i++) {
			if(fields[i].fieldType!=7)
			{
				ths += syview_createThForCckContent(fields[i]);
				tts += syview_createTemplateForCckContent(fields[i]);
			}
		}
		trTop.append(ths);
		trTemplate.append(tts);

		table.addClass("table").parent().initUI();
		if (!data) {
			data = {"jsonData" : { "list" : [] } };
		} else if (!data.jsonData) {
			data["jsonData"] = { "list" : [] };
		}
		syview_cckcontentList(data);
	}

	function syview_createThForCckContent(field) {
		var type = 'th';
		// 		var name=field.fieldAlias?field.fieldAlias:field.fieldColumn;
		// 		var type=
		var html = "<"+type+" >" + field.fieldLabel + "</"+type+">";
		return html;
	}

	function syview_createTemplateForCckContent(field) {
		var type = 'td';
		// 		var name=field.fieldAlias?field.fieldAlias:field.fieldColumn;
		// 		var type=
		var html = "<" + type + " name='" + field.fieldColumn.toUpperCase()	+(field.fieldType=='5'?"__NAME":'' )+ "' ></"+type+">";
		return html;
	}
	function syview_cckcontentList(data) {
		var sampleRow = findName('cckcontentTrTemplate');
		pageResponse2Table(sampleRow, data);
		printPageBarDiv(findName('cckcontentPageBar'),
				findName('cckcontentCountDiv'), data.jsonData);
	} 
	function 	viewDataCreateButtons(list,pageContentName,type,isReadOnly){
		var html=	'';
		for(var i=0;i<list.length;i++){
			var button=list[i];
			var buttonType=button.buttonType;
			 
			var time=new Date().getTime()+''+i;
		 
			if(!button.buttonName) {
				button.buttonName="cckButton"+time ;
				}
			var buttonName= button.buttonName;
			var buttonLabel=button.buttonLabel;
			var buttonIcon=button.buttonIcon;
			if(!buttonLabel||!buttonIcon) {
				if(buttonType==6){
					if(!buttonLabel)
						button.buttonLabel="自定义";
					if(!buttonIcon)
						button.buttonIcon="icon";
				} else 	if(buttonType==9){
					if(!buttonLabel)
						button.buttonLabel="方法";
					if(!buttonIcon)
						button.buttonIcon="icon";
				}else 	if(buttonType==10){
					if(!buttonLabel)
						button.buttonLabel="导出";
					if(!buttonIcon)
						button.buttonIcon="export"; 
					}
			}

			  buttonLabel=button.buttonLabel;
			  buttonIcon=button.buttonIcon;
			
//	 		var buttonDetailTypeCode=button.buttonDetailTypeCode;
			var buttonLink=button.buttonLink;
			if(!button.buttonLinkNavtabId) {
				button.buttonLinkNavtabId="viewButtonRel"+time;
				}
			var buttonLinkNavtabId=button.buttonLinkNavtabId;
			var buttonLinkTarget=null;
			if(buttonType==6)
			var buttonLinkTarget=button.buttonLinkTarget;
			var buttonIsMultiple=button.buttonIsMultiple;
			var buttonIsReadonly=button.buttonIsReadonly;
		 
			var target= 'customTarget="'+buttonLinkTarget+'"';
			
			 html+=	'<li><a name="'+ buttonName+'" rel="'+
			 buttonLinkNavtabId+'" class="'+ buttonIcon+'"   ';
			  if(buttonType==6)
				{ html+=target;
					html+=" url=\""+buttonLink+"\"";
					html+=" rel=\""+button.buttonLinkNavtabId+"\"";
					html+=" title=\""+button.buttonLabel+"\"";
					html+=" isMultiple=\""+button.buttonIsMultiple+"\"";
				}else  if(buttonType==9)
				{ 
					html+=" func=\""+button.functionName+"\"";
					 
				} 
			 if(button.dialogWidth){
				 
					html+= " dialogWidth=\""+button.dialogWidth+"\" ";
				 }
			 if(button.dialogHeight){
				 
					html+= " dialogHeight=\""+button.dialogHeight+"\" ";
				 }
			 html +=" href=\"#\" ";
			 html+=' ><span ';
			 if('other'==button.buttonIcon){
				 
					html+= " style=\" background: url(\'"+button.iconUrl+"\') 0 50%  no-repeat ; \" ";
				 }
			
			html+= ' >'+ buttonLabel+'</span></a></li>';
		}
		var toolBar= $(".CckToolBar",findName(pageContentName));
		toolBar.html(html);
		toolBar.parent().parent().initUI();
		for(var i=0;i<list.length;i++){
			var button=list[i];
			var $button=findNameByParentForCck(button.buttonName,toolBar);	
			//添加click方法
			var clickfn;
			buttonType=button.buttonType;
// 			if(isReadOnly){
// 				if(buttonType!=3&&buttonType!=5)
// 				continue;
// 			}
 
		
			 if(buttonType==6){
	 			clickfn=viewData_custom;
			}else 	 if(buttonType==9){
				clickfn=viewData_function;
			}else 	if(buttonType==10){
				clickfn=viewData_export;
			}
			$button.bind("click",clickfn);
		}
		
	}
	function viewData_function(){
		var $this=$(this);
		var func=$this.attr("func");
		if(func&&window[func]){
			 window[func]();
		}
	}
	
	
	function viewData_custom(obj){
		var $this=$(this);
		 
		var url=$this.attr("url");
		var customTarget=$this.attr("customTarget");
		var rel=$this.attr("rel");
		var title=$this.attr("title");
		var isMultiple=$this.attr("isMultiple");
		var dialogWidth=$this.attr("dialogWidth");
		var dialogHeight=$this.attr("dialogHeight");
		if(isMultiple!=2&&isMultiple!='2'){
			var ids = null;
			var sctGuid='';
			var masterId='';
 
			 ids=_get_sy_view_ids();
		  sctGuid = findName("viewSearchForm").data("svGuid");
		
			  masterId = findName("viewSearchForm").data("masterId");
		 
		 
			if(isMultiple==0||isMultiple=='0'){
				if (ids.length == 1 && ids[0]){}else {
					alertMsg.error("请选择一条记录!");
					return false;
				}
			}else{
				if (ids.length >=1 && ids[0]){}else {
					alertMsg.error("请选择记录!");
					return false;
				}
			}
				var urls=url.split("?");
				var id='';
			 if(isMultiple==1||isMultiple=='1'){
				 id=ids.toString();
			 }else{
				 id=ids[0];
			 }
			 url=	urls[0]+"?"+"sctGuid="+sctGuid;
			 if(id.length<=3700)// url太长chrome 里 会出问题
				url	  +="&sccGuid="+id;
					  url 	 +="&masterId="+masterId;
				if(urls[1]){
					url+="&"+urls[1];
				}
			
		}

		if("dialog"==customTarget){
			var pData = {
					"sctGuid" : sctGuid,
					"svGuid" : sctGuid,
					"sccGuid" : id,
					"_id_" : id,
					"masterId" :masterId ,
					"height":dialogHeight,
					"width":dialogWidth
				};
			cckcontent_showDialogCustom(title,rel,url, pData);
		}else 	if("resource"==customTarget){
			//TODO resuorce
		}else{
				openNavTab({rel:rel,tabid:rel,href:url,title: title,fresh:"true", external:"false"}); 
		}
		return false;

	}
	
	function _get_sy_view_ids( ) {
		 
		var ids = [];
		var checkboxs = findName("syViewContentPageContent").find(
				"input:checkbox:checked");
		for ( var i = 0; i < checkboxs.length; i++) {
			var t = $(checkboxs[i]);
			var val = t.val();
			if (val && val != "on") {
				ids[ids.length] = val;
			} 

		}
		return ids;

	}
	function _sy_view_get_primary_key(list){
		 
		if(!!list){
			for (var i=0;i<list.length;i++){
				if(list[i].fieldType==7){
					return list[i].fieldColumn.toUpperCase();
				}
			}
			if(list.length>=1){
				return list[0].fieldColumn.toUpperCase();
			}else return '';
		}
		
	}
	function viewData_export(opt){
		//序列化表单值，并扩展到syCckTypeArgs对象中
// 		$.extend(findName("cckcontentSearchForm").data("arg"), findName(
// 				'cckcontentSearchForm').serializeJson(), opt ? opt : {});
		//执行ajax查询方法
// 		var sctGuid = navTab._getParam("sctGuid");
// 		var masterId = navTab._getParam("masterId");

		var svGuid = 	findName("viewSearchForm").data("svGuid" );
		var masterId = findName("viewSearchForm").data("masterId" );
		var arg = findName("viewSearchForm").data("arg");
		var tabid=navTab.getTabId();
// 		var filename=$(".selected .cck-ajax span").text();
	var filename=	$("[name=exportName]", findName("viewSearchForm")).val();
		if(!filename){
			filename=$("."+tabid).attr("title");
		}
		if(!filename){
			filename=svGuid;
		}
		var url=getURL(CPATH.domain_1, "/rs/system/view/previewdatagridexport/" + svGuid+"/"+filename+"?"+(masterId?("masterId="+masterId):""));
		for(var n in arg){
			url+="&"+n+"="+arg[n];
		}
		findName("viewfileDownFrame").attr("src",url);
	}
</script>
<iframe name="viewfileDownFrame" id="viewfileDownFrame" src="" style="display:none; visibility:hidden;"></iframe>
<form method="get" name="viewSearchForm" action="/rs/cckcontent" onsubmit="return false;">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="exportName" value="" />
	<div class="pageHeader">
		<div class="searchBar">  
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="button" onclick="syview_Search({pageNum:1})">查询</button>
							</div>
						</div></li>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="button" onclick="syview_resetForm()">清空</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</form>
<div class="pageContent" id="cckcontent_pagecontent" name="syViewContentPageContent">
	<div class="panelBar">
		<ul class="toolBar CckToolBar">
<!-- 			<li><a name="add" class="add" href="#"><span>添加</span> </a></li> -->
<!-- 			<li><a name="remove" class="delete" href="#"><span>删除</span> </a></li> -->
<!-- 			<li><a name="edit" class="edit" href="#"><span>修改</span> </a></li> -->
		</ul>
	</div>
	<table class="cckcontenttable" name="cckcontenttable"  layouthcck="141" width="100%">
		<thead>
			<tr name="cckcontenttr" searchMethod="syview_Search">
				<th width="22"><input type="checkbox" group="sccGuids" class="checkboxCtrl"></th>

			</tr>
		</thead>
		<tbody>
			<tr name="cckcontentTrTemplate" target="slt_uid">
				<td name="SCCGUID" type="check"><input name="sccGuids" value="" type="checkbox"></td>



			</tr>
		</tbody>
	</table>

	<div class="panelBar">
		<div class="pages">
			<span>显示</span> <select class="combox" name="numPerPage"
				onchange="syview_Search({numPerPage:this.value,pageNum:1})">
				<option value="20">20</option>
				<option value="40">40</option>
				<option value="100">100</option>
				<option value="200">200</option>
			</select> <span name="cckcontentCountDiv">条，共-条</span>
		</div>
		<div name="cckcontentPageBar" class="pagination" searchMethod="syview_Search" targetType="navTab" totalCount="0" numPerPage="0" pageNumShown="0" currentPage="0"></div>
	</div>


</div>
