<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.founder.enforcer"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens 
        android:largeScreens="true"
   		android:normalScreens="true" 
   		android:smallScreens="true"
    	android:resizeable="true" 
    	android:anyDensity="true"/>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="17">
    </uses-sdk>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
	<uses-permission android:name="android.permission.FLASHLIGHT"></uses-permission>
	
	<uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <uses-permission android:name="android.permission.CAMERA" />
 	<!-- 调用摄像头权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
 	<!-- 录制视频/音频权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 	<!-- sd卡读写权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
 	<!-- 挂载sd卡 -->
 	
 	
 	<!--使用网络功能所需权限  -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.INTERNET">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE">
	</uses-permission>
	<!-- SDK离线地图和cache功能需要读写外部存储器 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
	</uses-permission>
	<!-- 获取设置信息和详情页直接拨打电话需要以下权限  -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE">
	</uses-permission>
	<!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
	</uses-permission>
	<permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
	</permission>
	<uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCES_MOCK_LOCATION">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_GPS"/>
    
	 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
<!--         <activity -->
<!--             android:name="com.xmeeting.ViewGroupActivity" -->
<!--             android:label="@string/app_name" >  -->
<!--         </activity> -->
        
       
                
        <activity android:name="com.xmeeting.WaiterMainActivity" android:label="ShipInfoActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</activity> 
    	
        
        
    	<activity
            android:name="com.xmeeting.ChatActivity" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity> 
        
    	
    	
    	
        
    </application>
    
   

</manifest>