<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>  
		<param-name>contextConfigLocation</param-name>  
		<param-value>classpath*:spring/applicationContext*.xml,classpath*:spring/smartdatacontrol*.xml</param-value>  
	</context-param>  
	<context-param>
		<param-name>domain</param-name>
		<param-value>1</param-value>
	</context-param>
	<context-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<filter>
	  <filter-name>OpenSessionInViewFilter</filter-name>
	  <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	  <init-param> 
			<param-name>sessionFactoryBeanName</param-name> 
			<param-value>sessionFactory</param-value> 
	  </init-param>  
	 <init-param> 
           <param-name>flushMode</param-name> 
           <param-value>AUTO</param-value> 
       </init-param>
	</filter>
	<filter>
	   	<filter-name>SetCharacterEncodingFilter</filter-name>
	    <filter-class>com.founder.sipbus.common.web.filter.SetCharacterEncodingFilter</filter-class>
   	</filter> 
  
  	<filter-mapping> 
		<filter-name>OpenSessionInViewFilter</filter-name> 
		<url-pattern>/rs/*</url-pattern> 
	</filter-mapping>	
   	<filter-mapping>
	    <filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
   	</filter-mapping>
   	 
	 <listener>  
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>   
	 </listener>  
   	 
	 <listener>  
		<listener-class>com.founder.sipbus.common.web.listener.SessionListener</listener-class>  
	 </listener>  
	 
	 <listener>  
		<listener-class>com.founder.sipbus.syweb.au.listener.SysListener</listener-class>  
	 </listener>  
	 
	 <listener>  
		<listener-class>com.founder.sipbus.syweb.au.listener.FixFlowListener</listener-class>  
	 </listener>  

	
	<servlet>   
        <servlet-name>restlet</servlet-name>   
        <servlet-class>
            org.restlet.ext.spring.RestletFrameworkServlet   
        </servlet-class>   
        <init-param>   
            <param-name>org.restlet.component</param-name>   
            <param-value>restletComponent</param-value>   
        </init-param> 
    </servlet> 
    
    <!--smartdatacontrol begin  -->
   
	<servlet>
		<servlet-name>BasicJqGridServlet</servlet-name>
		<servlet-class>jcommon.smartdatacontrol.servlet.BasicJqGridServlet</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>SmartFileUploadServlet</servlet-name>
		<servlet-class>jcommon.smartupload.servlet.SmartFileUploadServlet</servlet-class>
	</servlet>
	
	
	
	
	<servlet>
		<servlet-name>UploadifyServlet</servlet-name>
		<servlet-class>com.founder.sipbus.commonweb.uploadify.UploadifyServlet</servlet-class>
	</servlet>
	
    <!--smartdatacontrol end  -->
	
    <servlet-mapping>   
        <servlet-name>restlet</servlet-name>   
        <url-pattern>/rs/*</url-pattern>   
    </servlet-mapping>
    <!--smartdatacontrol begin  -->
    
    <servlet-mapping>
		<servlet-name>BasicJqGridServlet</servlet-name>
		<url-pattern>*.page</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BasicJqGridServlet</servlet-name>
		<url-pattern>*.query</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BasicJqGridServlet</servlet-name>
		<url-pattern>*.formaction</url-pattern>
	</servlet-mapping>
	
	

	<servlet-mapping>
		<servlet-name>SmartFileUploadServlet</servlet-name>
		<url-pattern>*.upload</url-pattern>
	</servlet-mapping> 
	
	<servlet-mapping>
		<servlet-name>UploadifyServlet</servlet-name>
		<url-pattern>*.uploadify</url-pattern>
	</servlet-mapping>
	
    <!--smartdatacontrol end  -->
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>
